doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    script(src='/socket.io/socket.io.js')
    script.
      var socket = io.connect();

      // Update the Column Backgroundcolour if ping was succesful
      socket.on('updateResult', function (data) {
        console.log(data.client + ':' + data.data);
        if(document.getElementById(data.client)){
          if(data.data == 'failed'){
            document.getElementById(data.client).style.backgroundColor = "#adadad";
            document.getElementById(data.client).disabled = false;
            document.getElementById(data.client).value="Wake";
            }
          else{
            document.getElementById(data.client).style.backgroundColor = "#00cc00";
            document.getElementById(data.client).disabled = true; 
            document.getElementById(data.client).value="Active";
            //document.getElementById(data.client).addClass('activePC');
          }
        }
      });

      // Triggers the Wol on the werver
      function doWol(data){
        socket.emit('wol', {mac: data});
      };

      function updateScan(){
        socket.emit('updateScan');
      };

  body
    block content